:root {
  --neutralcolor: hsl(0.67, 1, 0.99);
  --twitterWhite: rgb(255 255 255);
}

body,
html {
  font-family: "Roboto", sans-serif;
  background-image: url("../assets/weights.png");
  margin: 0;
  height: 100vh;
}

h1 {
  font-size: 3rem;
  width: max-content;
  margin: auto;
  color: var(--twitterWhite);
}

.main {
  background: rgba(248, 248, 255, 0.8);
  width: 75%;
  margin: 2rem auto;
  border-radius: 5px;
}
.thought-section {
  padding: 8px;
}
.thought-display {
  min-height: 200px;

  background: rgba(248, 248, 255, 1);
  position: relative;
  margin: auto;
}
.thought-on-display {
  margin: auto;
  position: absolute;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
  font-size: 2.5rem;
  padding: 1rem;
}
.speaker-display {
  text-align: center;
  padding: 20px;
  font-size: 2rem;
}
.thought-button {
  font-size: 1.25rem;
  margin: 0 auto;
  display: block;
}
h2 {
  text-align: center;
}
.bootleg-twitter-button {
  font-size: 1.25rem;
  margin: 0 auto;
  display: block;
  text-decoration: none;
  border: none;
  background-color: rgb(29 161 242);
  padding: 8px;
  border-radius: 15px;
  color: var(--twitterWhite);
}
a {
  text-decoration: none;
  color: var(--twitterWhite);
}
.footer {
  text-align: center;
  color: var(--twitterWhite);
}
