:root {
  --maincolor: ;
  --neutralcolor: hsl(0.67, 1, 0.99);
}

body,
html {
  font-family: "Roboto", sans-serif;
  background-color: var(--neutralcolor);
  margin: 0;
  height: 100vh;
}

.header {
  background-color: aquamarine;
}

h1 {
  font-size: 3rem;
  width: max-content;
  margin: auto;
}

.main {
  background-color: ghostwhite;
  width: 75%;
  margin: 2rem auto;
}

.thought-display {
  min-height: 200px;
  border: 1px solid black;
  position: relative;
  top: 50%;
}
.thought-on-display {
  margin: auto;
  position: relative;
  top: 50%;
  text-align: center;
  font-size: 2.5rem;
  padding: 0.5rem;
}
.speaker-display {
  text-align: center;
  padding: 20px;
  font-size: 2rem;
}
.thought-button {
  font-size: 1.25rem;
  margin: 0 auto;
  display: block;
}
h2 {
  text-align: center;
}
.bootleg-twitter-button {
  font-size: 1.25rem;
  margin: 0 auto;
  display: block;
  text-decoration: none;
}
.footer {
  text-align: center;
}
