@main-color: #22A1F2;
@secondary-color: #FFD700;
@main-background-color: whitesmoke;

@primary-border-radius: 15px;

.container {
  border-radius: @primary-border-radius;
  border: 3px ridge @main-color;
  margin-top: 5%;
  background-color: @main-background-color;
}

.header {
  margin: 2% 0%;
  background-color: @main-color;
  text-align: center;
  color: @main-background-color;
  padding: 4px;
  border-radius: @primary-border-radius;
}

#thoughtDisplay {
  text-align: center;
  background-color: @secondary-color;
  padding: 8px;
  border-radius: @primary-border-radius;
  border: 2px ridge @secondary-color;
}

.twitter-div{
  border: 1px solid @main-color;
}

.footer {
  background-color: @main-color;
  text-align: center;
  color: @main-background-color;
}
