@main-color: #22A1F2;
@secondary-color: #FFD700;
@main-background-color: whitesmoke;

@primary-border-radius: 15px;

.container {
  border-radius: @primary-border-radius;
  border: 3px ridge @main-color;
  margin-top: 5%;
  background-color: @main-background-color;
}

.header {
  margin: 2% 0%;
  background-color: @main-color;
  text-align: center;
  color: @main-background-color;
  padding: 4px;
  border-radius: @primary-border-radius;
}

#thoughtDisplay {
  text-align: center;
  background-color: @secondary-color;
  padding: 8px;
  border-radius: @primary-border-radius;
  border: 2px ridge @secondary-color;
}

#getThought {
  background-color: silver;
  margin: 5% 0%;
}

.twitter-div {
  border: 1px solid @main-color;
  border-radius: @primary-border-radius;
  background-color: @main-color;
  color: @main-background-color;
  margin: auto;
  width: fit-content;
  padding: 4px;
}

#twitterBtnDiv {
  background-color: @main-background-color;
  border-radius: @primary-border-radius;
}

.bootleg-twitter-button {
  color: @main-background-color;
  background-color: @main-color;
  border-radius: @primary-border-radius;
  margin: 4% 0% 4% 14%;
}

.footer {
  margin-top: 6%;
  background-color: @main-color;
  text-align: center;
  color: @main-background-color;
}
