.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
  background-color: #22A1F2;
  color: whitesmoke;
}
.main {
  margin-top: 8%;
}
.page-section {
  margin-top: 7%;
  padding: 4px;
  border: 2px solid #22A1F2;
  height: 15%;
  width: 90%;
}
#thoughtDisplay {
  border: 2px ridge blue;
  height: 25%;
  width: 100%;
}
.bootleg-twitter-button {
  background-color: #22A1F2;
  border-radius: 15px;
}
.twitter-share-button {
  text-decoration: none;
  color: whitesmoke;
}
.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: #22A1F2;
  color: whitesmoke;
  padding: 0.5%;
}
